$color-white: #fff;
$color-black: #000;

$color-sky-blue: #00BBFF;
$color-dark-blue: #140843;

$color-dark-purple: #281C57;
$color-purple: #6527FF;

$color-grey: #EBEEF7;
$color-page-bg: $color-grey;
