ul,
ol,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  list-style: none;
}

.WHeadline {
  font-size: 45px;
  line-height: 68px;
  margin: 8px 0;
  @media (max-width: $breakpoint-md) {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.WHeading {
  font-size: 36px;
  line-height: 44px;
}

.WParagraph {
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 29px;
  margin: 8px 0;
  font-weight: 400;
  &--medium {
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0;
  }
  @media (max-width: $breakpoint-md) {
    font-size: 14px;
    line-height: 18px;
    margin: 12px 0;
  }
}

.WTitle {
  font-size: 25px;
  line-height: 38px;
  @media (max-width: $breakpoint-md) {
    font-size: 20px;
    line-height: 30px;
  }
}

.WSubtitle {
  font-size: 16px;
  line-height: 25px;
}

.WHeadline,
.WTitle,
.WSubtitle {
  font-weight: $font-semibold;
}

.WList {
  &__item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: space-between;
    }
    &:before {
      content: '';
      height: 3px;
      background: $color-sky-blue;
      width: 13px;
      display: block;
      position: absolute;
      left: 0px;
      top: 50%;
      margin-top: -1.5px;
    }
  }
  &__icon {
    margin-left: 11px;
    cursor: pointer;
    svg {
      display: block;
    }
  }
  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    margin: -2.5px -6px;
    .WList__item {
      &:before {
        left: 6px;
      }
      padding: 2.5px 6px 2.5px 32px;
    }
  }
}

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}

.text-blue {
  color: $color-sky-blue;
}

.text-purple {
  color: $color-purple;
}